.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding:20px;
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-top:2%
}
.main {
    height: 400px;
    width: 711px;
    background-color: red;
    margin-left:25%;
    margin-top:-31.6%;
    padding:0;
}
.sub-content {

    /* code works as well. through trial and error. 
    
    height: 200px;
    width: 210px;
    background-color: yellow;
    float:left;
    margin-left:15px;
    margin-top:15px;
    vertical-align:top; */

    display: inline-block;
    width:194px;
    height:190px;
    background-color:yellow;
    padding: 6px;
    margin-top:10px;
    margin-left:15px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    float:left;
    margin-left:15px;
    margin-top:20px;

}


